.palette-wrapper {
    gap: var(--space-0-5);

    padding: var(--space-0-75);
    height: max-content;

    position: absolute;
    top: 105%;
    left: 0;
    right: 0;
    z-index: 1;

    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    background-color: var(--text-color);
}

.color-sphere {
    width: var(--space-2-5);
    height: var(--space-2-5);
    border-radius: var(--br-50);
    -webkit-border-radius: var(--br-50);
    -moz-border-radius: var(--br-50);
    -ms-border-radius: var(--br-50);
    -o-border-radius: var(--br-50);
}