.search-filter-sort-wrapper {
    width: 100%;
}

.search-bar-wrapper {
    width: 100%;
    max-width: 600px;
    background-color: var(--bg-card-color);
    border-radius: var(--br-2);
    -webkit-border-radius: var(--br-2);
    -moz-border-radius: var(--br-2);
    -ms-border-radius: var(--br-2);
    -o-border-radius: var(--br-2);
    position: relative;
}

.input-search-note {
    background: transparent;
    border: none;
    width: 100%;
    outline: none; 
}

.btn-filter {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: var(--space-0-75);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.filter-sort-wrapper {
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    background-color: var(--overlay-bg-color);
}

.filter-sort-drawer {
    background-color: var(--text-color);
    color: var(--bg-card-color);
    max-width: 500px;
    width: 100%;
}

.filter-sort-drawer-head {
    border-bottom: 1px solid var(--light-gray-color);
}

.filter-sort-options {
    width: 100%;
    gap: var(--space-1);
}

.sort-options, .filter-options {
    width: 100%;
}

.dropdown, option {
    width: 100%;
    color: var(--text-color);
    outline: none;
}

.text-clear-button-wrapper {
    width: 100%;
    max-width: 600px;
    flex-wrap: wrap;
    gap: var(--space-1);
}

.filter-options-text {
    flex-direction: column;
}

.filter-options-text {
    gap: var(--space-0-5);
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
}

.sort-filter-text {
    gap: 0.35rem;
}

@media screen and (min-width: 640px) {
    .filter-options-text {
        flex-direction: row;
    }
}