.navbar {
    background-color: var(--bg-card-color);
    padding: var(--space-1) var(--space-2);
    min-height: var(--navbar-min-height);
    box-shadow: var(--box-shadow);
}

.logo {
    color: var(--primary-color);
}