aside.sidebar {
    gap: var(--space-2);
    height: 100%;
    height: calc(100vh - var(--navbar-min-height));
    padding: var(--space-2);
    overflow-y: auto;
}

.sidebar-nav-links {
    gap: 1.25rem;
}

.aside-section-icon svg {
    width: 1.75rem;
    height: 1.75rem;
}

.user-info {
    gap: var(--space-0-5);
}

.user-info .user-avatar {
    flex-shrink: 0;
}

.user-info .user-name {
    font-weight: 550;
    word-break: break-word;
    word-wrap: break-word;
}

.btn-logout svg {
    height: 1.25rem;
    width: 1.25rem;
}

.input-label-wrapper {
    background-color: var(--bg-card-color);
    border-radius: var(--br-4);
    -webkit-border-radius: var(--br-4);
    -moz-border-radius: var(--br-4);
    -ms-border-radius: var(--br-4);
    -o-border-radius: var(--br-4);
    border: 1px solid var(--primary-active-color);
}

.input-label {
    background-color: transparent;
    border: none;
    max-width: 100%;
    width: 100%;
    outline: none;
}

.btn-label-submit {
    background-color: transparent;
    min-width: max-content;
    border: none;
}

.btn.btn-label-submit:hover {
    color: var(--secondary-color);
}

.mobile-sidebar, .btn-sidebar-close {
    display:none;
}

.sidebar::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.2);
}

.sidebar::-webkit-scrollbar-thumb {
    border: 3px solid var(--light-theme-hover-color);
    background-color: var(--light-theme-hover-color);
}

.list-labels {
    gap: var(--space-0-5);
}

.list-labels li {
    font-size: 1.05rem;
    max-width: max-content;
}

@media screen and (max-width: 768px) {
    .mobile-sidebar {
        position: fixed;
        top: 0;
        width: 300px;
        height: 100vh;
        left: 0;
        display: flex;
        z-index: 2;
    }

    .mobile-sidebar-wrapper aside.sidebar {
        display: flex;
        position: sticky;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: var(--bg-card-color);
        justify-content: space-between;
        padding: var(--space-5) var(--space-2);
    }
    
    .btn-sidebar-close {
        display: flex;
        position: absolute;
        z-index: 2;
        top: 2rem;
        right: 2rem;
    }
} 

@media screen and (max-width: 300px) {
    .mobile-sidebar {
        width: 200px;
    }
}